body {
    background-color: powderblue;}
h1 {
    color:rgb(62, 186, 190);
    font-family: verdana;
    font-size: 300%;
}
p {
    color: red;
    font-family: verdana;
    font-size: 160%;
    border: 2px solid black;
    padding: 30px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}